In [1]:
import pandas as pd
import numpy as np

In [2]:
AF = pd.read_csv('ALLELE_FREQ_CFTR_GNOMAD.csv', sep=',')
MAF = pd.read_csv('MAF_CFTR_GNOMAD.csv', sep=',').drop(['CHR', 'A1', 'A2'], axis = 1)

In [37]:
merged = pd.concat([AF, MAF], axis = 1)
#merged.to_csv('MAF_AF_GERAL_CFTR_GNOMAD.csv')

In [38]:
merged

,CHROM,POS,N_ALLELES,N_CHR,{ALLELE:FREQ_R},{ALLELE:FREQ_A},SNP,MAF,NCHROBS
0,7,117480087,2,8300,G:0.974096,C:0.0259036,rs1800501,0.025900,8300
1,7,117480125,2,8302,G:0.99988,A:0.000120453,rs1800072,0.000121,8302
2,7,117480168,2,8302,G:0.998795,A:0.00120453,rs189595246,0.001205,8302
3,7,117480192,2,8302,A:0.999759,G:0.000240906,rs372316624,0.000241,8302
4,7,117480196,2,8300,A:0.99988,G:0.000120482,rs1270693890,0.000121,8300
...,...,...,...,...,...,...,...,...,...
7007,7,117668402,2,8298,G:0.995421,A:0.00457942,rs55831234,0.004579,8298
7008,7,117668418,2,8300,G:0.999639,A:0.000361446,.,0.000361,8300
7009,7,117668430,2,8302,C:0.999759,G:0.000240906,rs190470955,0.000241,8302
7010,7,117668561,2,8302,G:0.99988,A:0.000120453,rs554885039,0.000121,8302
7011,7,117668600,2,8302,A:0.998795,G:0.00120453,rs374134325,0.001205,8302

In [39]:
idx_snp = (merged.loc[merged['SNP']=='.']).index

In [49]:
for i in idx_snp:
    merged.at[i, 'SNP'] = ('7:{}'.format(merged['POS'][i]))

In [54]:
#merged.to_csv('merged.csv')

In [57]:
freq_pop = pd.read_csv('freq_populaçoes.csv',sep=',')

In [108]:
def comuns_raros(pop):
    freq = freq_pop.loc[(freq_pop[pop] > 0), (pop,'SNP')]
    comuns = freq.loc[(freq[pop] > 0.01), (pop,'SNP')]
    raros = freq.loc[(freq[pop] <= 0.01), (pop,'SNP')]
    return len(comuns), len(raros)

In [110]:
comuns_raros('CEU')

(72, 284)

In [114]:
lista = ["YRI", "CEU", "PEL", "PUR", "CLM", "MXL", "NAT"]
freqs = []
for item in lista:
    freqs.append(comuns_raros(item))
freqs

[(294, 299), (72, 284), (28, 215), (117, 311), (130, 335), (166, 105), (71, 0)]