In [103]:
import pandas as pd

In [104]:
path_gc = 'GCNetwork.txt'
path_gnomad = "gnomad.v2.1.1.all_lofs.txt.bgz"

In [105]:
gnomadlof = pd.read_csv(path_gnomad, delim_whitespace=True, compression='gzip', low_memory=False)
gc = pd.read_csv(path_gc, delim_whitespace=True)

In [106]:
gc.head()

             Cancer  Variant
0    Breast-AdenoCA       73
1    Breast-AdenoCA     7028
2    Breast-AdenoCA    16189
3    Breast-AdenoCA    16278
4  Breast-LobularCA      489

In [107]:
gnomadlof.head()

,chrom,pos,ref,alt,most_severe_consequence,gene_ids,gene_symbols,transcript_ids
0,1,69456,C,CCTACA,frameshift_variant,ENSG00000186092,OR4F5,ENST00000335137
1,1,69469,ACAATT,A,frameshift_variant,ENSG00000186092,OR4F5,ENST00000335137
2,1,69516,G,A,stop_gained,ENSG00000186092,OR4F5,ENST00000335137
3,1,69620,TA,T,frameshift_variant,ENSG00000186092,OR4F5,ENST00000335137
4,1,69702,TG,T,frameshift_variant,ENSG00000186092,OR4F5,ENST00000335137

Fazer um algoritmo para comprar o 'tpos' (segunda coluna com o valores da segunda coluna do gc)

In [110]:
genes = []
for i in range(len(gnomadlof)):
    for j in range(len(gc)):
        if gc.at[j, 'Variant'] == gnomadlof.at[i,'pos']:
            genes.append(gc.at[j, 'Variant'])